@import "catppuccin.css";

window#waybar {
  font-family: monospace;
  font-size: 14px;
  color: @text;

  background-color: @crust;
  border-bottom: 2px solid @overlay0;
}

window#waybar #mode {
  padding: 0 1rem 0 1rem;
}

window#waybar #workspaces button.focused {
  background-color: @surface0;
  border-width: 0px;
  border-bottom: 2px solid @overlay2;
}

window#waybar #tray {
  margin: 0;
  padding: 0 1rem 0 1rem;
  background-color: @base;
  border-bottom: 2px solid @overlay1;
}

window#waybar #clock {
  margin: 0;
  padding: 0 1rem 0 1rem;
  background-color: @surface0;
  border-bottom: 2px solid @overlay2;
}
